
@{
    ViewBag.Title = "index";
}

<h2>index</h2>


@Html.ActionLink("add car type", "AddCarType")

@Html.ActionLink("display all car type", "DisplayAllCarType")

<br />
<hr />
<br />
@Html.ActionLink("display all branches", "DisplayAllBranchs")