
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<a href="/CarType/index">display all car type</a>

<br />
<hr />
<br />
@Html.ActionLink("display all branches", "DisplayAllBranchs")


<br />
<hr />
<br />
<a href="/location/DisplayAllLocation">display all Location </a>