
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<a href="/Branchs/index">display all car type</a>

<br />
<hr />
<br />



<a href="/CarType/index">display all car type</a>

<br />
<hr />
<br />


<br />
<hr />
<br />
<a href="/location/DisplayAllLocation">display all Location </a>